fastapi
uvicorn
python-multipart
pymongo
motor
python-jose
passlib[bcrypt]
bcrypt
python-dotenv

sentence-transformers
chromadb
google-generativeai

PyMuPDF
python-docx
python-pptx

cryptography

numpy
pydantic